<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBkGCumeLF5R43OvGCQfPAucSws3YtOQ-g</string>
	<key>GCM_SENDER_ID</key>
	<string>604178995544</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.amazon.clone</string>
	<key>PROJECT_ID</key>
	<string>clone-7833c</string>
	<key>STORAGE_BUCKET</key>
	<string>clone-7833c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:604178995544:ios:7712ac18fac82f0927ad2d</string>
	<key>DATABASE_URL</key>
	<string>https://clone-7833c-default-rtdb.firebaseio.com</string>
</dict>
</plist>